<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Register</h1>
    <div class="well">
      <!-- User registration form. -->
      <form role="form" ng-submit="ac.register()">
        <!-- Email field. -->
        <div class="form-group">
          <label for="register_email">Email</label>
          <input type="email" class="form-control" id="register_email" ng-model="ac.email" placeholder="ex. john@gmail.com"/>
        </div>
        <!-- Username field. -->
        <div class="form-group">
          <label for="register_username">Username</label>
          <input type="text" class="form-control" id="register_username" ng-model="ac.username" placeholder="ex. john"/>
        </div>
        <!-- Password field. -->
        <div class="form-group">
          <label for="register_password">Password</label>
          <input type="password" class="form-control" id="register_password" ng-model="ac.password" placeholder="ex johngoogleplus"/>
        </div>
        <!-- Submit button -->
        <div class="form-group">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
